Source: aildap
Section: devel
Priority: optional
Build-Depends: debhelper-compat (= 12)
Maintainer: Iain M Conochie <iain@ailsatech.net>
Standards-Version: 4.6.2
Homepage: https://github.com/shihad1972/libailsa
Rules-Requires-Root: no

Package: aildap
Architecture: Any
Multi-Arch: foreign
Depends: libaildap libailsa (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: A collection of useful LDAP utilities
 This package contains a collection of LDAP utilities

Package: libaildap
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libailsa ${misc:Depends}, ${shlibs:Depends}
Description: Library functions from aildap
 C libraries with functions from aildap

Package: libaildap-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: libaildap libailsa libailsa-dev (= ${binary:Version}), ${misc:Depends}
Description: Development files for libaildap
 Development headers to include for the libaildap library
