Source: aildap
Section: devel
Priority: optional
Build-Depends: debhelper-compat (= 12)
Maintainer: Iain M Conochie <iain@ailsatech.net>
Standards-Version: 4.5.1
Homepage: https://github.com/shihad1972/aildap
Rules-Requires-Root: no

Package: aildap
Section: net
Architecture: any
Multi-Arch: foreign
Depends: libaildap (= ${binary:Version}),
         libailsa (>=0.2.2),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Collection of useful LDAP utilities
 This package contains a collection of LDAP utilities

Package: libaildap
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libailsa (>=0.2.2), ${misc:Depends}, ${shlibs:Depends}
Description: Library functions from aildap
 C libraries with functions from aildap

Package: libaildap-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libaildap (= ${binary:Version}),
         libailsa-dev (>=0.2.2),
         ${misc:Depends}
Description: Development files for libaildap
 Development headers to include for the libaildap library
